body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 50%;
    text-align: center;
  }
  
  input, label {
    margin: 10px 0;
  }
  
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
  
.filelabel {
  display: flex !important;
  flex-wrap: wrap;
 }